body {
    color: $white;
    background-image: $black;
    background-image: url('images/maestus_background.jpg');
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    font-family: 'Alegreya SC', serif;
}

@media screen and (max-width: 600px) {
    body {
        height: 100vh;
    }
}