body {
    color: $white;
    background-image: url('images/Paraphilia_FB Banner.jpg');
    width: 100%;
    background-repeat: no-repeat;
    font-family: 'Alegreya SC', serif;
}

@media screen and (max-width: 600px) {
    body {
        height: 100vh;
    }
}