@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;500;700&display=swap");
.content--main {
  margin: 0 auto;
  width: 60%;
  height: 475px;
  padding-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .content--main {
    display: none;
  }
}

.content--main h1 {
  color: #222626;
}

.content--main iframe {
  width: 100%;
  height: 100%;
}

.mobile--nav {
  width: 95%;
  margin: 0 auto;
  padding: 0 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile--nav ul {
  list-style-type: none;
}

.mobile--nav li {
  list-style-type: none;
  padding: 10px 0;
}

.mobile--nav li a {
  text-decoration: none;
}

.mobile--nav li a button.mobile--nav-btn {
  background-color: #0B0C0D;
  padding: 15px;
  font-size: 18px;
  border: none;
  color: #fff;
  font-family: 'Alegreya SC', serif;
  border-radius: 3px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 4px 5px 5px 0px rgba(34, 38, 38, 0.1);
  box-shadow: 4px 5px 5px 0px rgba(34, 38, 38, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile--nav li a button.mobile--nav-btn:hover, .mobile--nav li a button.mobile--nav-btn:focus {
  background-color: #222626;
}

.mobile--nav li a button.mobile--nav-btn .svg-inline--fa {
  padding-bottom: 0;
  margin: 0;
  padding-right: 15px;
  font-size: 25px;
}

@media screen and (min-width: 768px) {
  .mobile--nav {
    display: none;
  }
}

svg.fa-bandcamp {
  color: #61929C;
}

svg.fa-facebook {
  color: #4267B2;
}

svg.fa-youtube {
  color: #FF0000;
}

svg.fa-instagram {
  color: #C13584;
}

svg.fa-spotify {
  color: #1DB954;
}

svg.fa-envelope {
  color: #fff;
}

body {
  color: #fff;
  background-image: url("images/Paraphilia_FB Banner.jpg");
  width: 100%;
  background-repeat: no-repeat;
  font-family: 'Alegreya SC', serif;
}

@media screen and (max-width: 600px) {
  body {
    height: 100vh;
  }
}

nav.desktop--nav {
  position: fixed;
  background: none;
  width: 100%;
  padding: 10px 0;
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  nav.desktop--nav {
    display: none;
  }
}

ul.nav--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul.nav--list li {
  list-style-type: none;
}

ul.nav--list li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

ul.nav--list li a:hover, ul.nav--list li a:focus {
  border-bottom: 2px solid #ED1F27;
}

ul.nav--list li a.active {
  border-bottom: 2px solid #ED1F27;
}

header {
  width: 100%;
  text-align: center;
  font-size: 16px;
}

header img {
  width: 300px;
  margin: 30px 0;
}

@media screen and (max-width: 768px) {
  header img {
    width: 400px;
  }
}

header h1 {
  font-weight: normal;
  padding: 0;
}

.bc--player {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .bc--player {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */