// MAIN COLORS
$black: #0B0C0D;
$white: #fff;
$primary: #ED1F27;
$dark-grey: #222626;
$btn-grey: #3a3935;
$grey: #707070;
$beige: #D9CBBA;
$spotify: #1DB954;
$youtube: #FF0000;
$bc: #61929C;
$ig: #C13584;
$fb: #4267B2;

// SIZES
$mobile: 320px;
$tablet: 768px;
$desktop: 1040px;

// Fonts / Font Sizes 
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;500;700&display=swap');

